<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Фото-галерея</title>
    <link rel="stylesheet" href="../static/css/bootstrap-theme.css">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/js/bootstrap.js">
    <link rel="stylesheet" href="../static/js/js.js">
    <link href="https://fonts.googleapis.com/css?family=Abel|Cinzel" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">
    <div class="content">
    <div class="galleryPreviewsContainer">
    <img src="../static/img/DSC06142.JPG" data-full_image_url="../static/img/DSC06142.JPG" alt="Картинка1" class="imgGallery">
    <img src="../static/img/DSC06177.JPG" data-full_image_url="../static/img/DSC06177.JPG" alt="Картинка2" class="imgGallery">
    <img src="../static/img/oulu-77571_640.jpg" data-full_image_url="../static/img/oulu-77571_640.jpg" alt="Картинка3" class="imgGallery">
    <img src="../static/img/rennes-3793723_640.jpg" data-full_image_url="../static/img/rennes-3793723_640.jpg" alt="Картинка4" class="imgGallery">
     <img src="../static/img/1.jpg" data-full_image_url="../static/img/1.jpg" alt="Картинка5" class="imgGallery">
      <img src="../static/img/2.jpg" data-full_image_url="../static/img/2.jpg" alt="Картинка5" class="imgGallery">
      <img src="../static/img/3.jpg" data-full_image_url="../static/img/3.jpg" alt="Картинка5" class="imgGallery">
       <img src="../static/img/4.jpg" data-full_image_url="../static/img/4.jpg" alt="Картинка5" class="imgGallery">
        <img src="../static/img/5.jpg" data-full_image_url="../static/img/5.jpg" alt="Картинка5" class="imgGallery">
  </div>
  </div>
</div>
<script src="js.js"></script>
</body>
</html>